In [6]:
import pandas as pd
pd.set_option('display.max_rows', 15)

In [23]:
board = pd.read_csv('board.csv', header=None)

In [27]:
board

                      0
0                     1
1   0 0 0 0 0 0 0 0 0 0
2   0 0 0 0 0 0 0 0 0 0
3   0 0 0 0 0 0 0 0 0 0
4   0 0 0 0 0 0 0 0 0 0
5   0 0 0 0 0 0 0 0 0 0
6   0 0 0 0 0 0 0 0 0 0
7   0 0 0 0 0 0 0 0 0 0
8   0 0 0 0 0 0 0 0 0 0
9   0 0 0 0 0 0 0 0 0 0
10  0 0 0 0 0 0 0 0 0 0
11  0 0 0 0 0 0 0 0 0 0
12  0 0 0 0 0 0 0 0 0 0
13  0 0 0 0 0 0 0 0 0 0
14  0 0 0 0 0 0 0 0 0 0

In [26]:
board[0][0] = 1